.task-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 100%;
}

.task-card {
    width: 100%;
    background: #f8f8f8;
    color: #000000;
    border-radius: 16px;
    outline: none;
    border: 1px solid #ddd;  /* Borde suave (gris claro) */
}

.task-card:hover {
    cursor: pointer;
    filter: brightness(0.75);
}

.task-card__image {
    width: 100%;
    height: 200px;
    border-radius: 16px 16px 0px 0px;
}

.task-card__caption {
    padding: 8px 16px;
}

.description-container {
    display: flex;
    justify-content: space-between; /* Esto coloca el título a la izquierda y el botón a la derecha */
    align-items: center; /* Alinea el contenido verticalmente al centro */
    width: 100%;
}