.wrapper{
    background: #f8f8f8;
    color: #000000;
    width: 520px;
    height: 800px;
    display: block;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #858585;
    position: relative;
}

.inner-box2 {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 10px;
    height: 650px;
    overflow: auto;
    margin-top: 20px;
}

.wrapper .navbar-container{
    position: absolute;  /* Cambia a "fixed", "absolute", o "relative" dependiendo de lo que necesites */
    bottom: 0;        /* Coloca la barra de navegación en la parte inferior */
    left: 0;          /* Alinea la barra a la izquierda */
    width: 100%;      /* Establece el ancho completo de la ventana */
    background-color: #333;  /* Color de fondo para la navbar */
    color: white;     /* Color de texto */
    padding: 0 0;  /* Agrega espacio interno alrededor de la barra */
    text-align: center;  /* Centra el contenido */
    border-radius: 10px;
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333333;
}

.back-button {
    position: absolute;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.back-button:hover{
    background-color: #e5e5e5;
}

.logout-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(228, 55, 55, 0.801);
    font-size: 16px;
    border-radius: 8px;
}

.logout-button:hover{
    background-color: #e53935;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.gallery div {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    display: block;
    cursor: pointer;
}

.gallery img.selected {
    border: 2px solid #000;
}

.profile-form-container h2,
.profile-image-container,
.edit-button {
    text-align: center;
}

.profile-image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-button {
    display: block;
    margin: 10px auto;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #333333;
}