.nav-bar {
    background-color: #e0e0e0;
    width: 100%;
    height: 60px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.nav-bar__button {
    background-color: #e0e0e0;
    color: black;
}

.nav-bar__button:hover {
    background-color: #e0e0e0;
    color: #666666;
}